<launch>
        <node pkg="challenge-2" type="sim_env_setup.sh" name="run_script" output="screen"/>
        <include file="$(find apriltag_ros)/launch/continuous_detection.launch"/>
        <node pkg="rqt_image_view" type="rqt_image_view" name="downward_cam"/>
        <node pkg="challenge-2" name="challenge-2_node" type="challenge-2_node" />
</launch>
