<launch>
        <!-- Launch file for challenge 2-->
        <arg name="fcu_url" default="/dev/ttyUSB0:921600"/>
	<arg name="respawn_mavros" default="true"/>
        <!-- Launch MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
                <!-- GCS link is provided by SITL -->
                <!-- <arg name="gcs_url" value=""/> -->
                <arg name="fcu_url" value="$(arg fcu_url)"/>
                <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
        </include>
        <!-- Launch ZED -->
	<include file="$(find usb_cam)/launch/usb_cam-test.launch"/>
        <include file="$(find apriltag_ros)/launch/continuous_detection.launch"/>
        <!-- node pkg="challenge_2" name="challenge_2_node" type="challenge_2_node"/ -->
</launch>
