<?xml version="1.0"?>
<launch>
	<param name="altitude" type="double" value="2.0" />
	<param name="square_size" type="double" value="2.0" />
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" value="/dev/ttyUSB0:921600"/>
	</include>

	<!-- Our node to control the drone -->
	<node pkg="first_flight" type="takeoff_and_land" name="takeoff_and_land" required="true" output="screen" />
</launch>
